html, body {
margin : 0;
padding : 0;
}
body {
font : 73% "Trebuchet MS", Arial,  Helvetica, Tahoma, sans-serif;
background : #fff;
color : #555;
}
			/*WRAP*/
#wrap {
width: 100%;
margin-left: auto;
margin-right: auto;
padding: 0;
color : #555;
background: #fff;
}
			/*TOP BANNER*/
#masthead {
height:110px;
padding: 0;
margin-bottom: 0;
    background-color: #d9e4e6;
}
			/*MAIN CONTAINER*/
#container {
/*width: 770px;*/
    width: 100%;
border: 0px solid #aaa;
margin-left: auto;
margin-right: auto;
margin-top:10px;
padding: 0;
line-height: 1.8em;
}
			/*TOP NAVIGATION*/
#menucontainer{position:relative;height:30px;color:#E0E0E0;background:#143D55;
width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}

			/*MAIN CONTENT*/
#content {
padding: 0 1em 0 1em;
margin: 0 450px 0 0;
border-right: 1px solid #eee;
}
#contentImg {
padding: 0 1em 0 1em;
margin: 0 0 0 0;
border-right: 1px solid #eee;
}
			/*SIDEBAR*/
#sidebar {
float: right;
width: 400px;
margin-top: 0;
padding: 0 1em 0 1em;
}
			
			/*TYPOGRAPHY*/
h1 {
margin: 0;
padding: 20px 0 20px 25px;
font-size: 32px;
letter-spacing: 5px;
color: #143D55;
}
h2 {
margin: 0;
padding: 20px 0 20px 0;
font-size: 24px;
letter-spacing: 3px;
color: #143d55;
}
blockquote {
padding: 15px;
font-weight : bold;
font-style : italic;
border-bottom: 1px solid #aaa;
border-top: 1px solid #aaa;
color : #b29b35;
}
			/*LINKS*/
a:link, a:visited {
color : #bbb;

text-decoration : underline;
}
a:hover {
color : #143D55;
background : inherit;
text-decoration : none;
}
			/*IMAGES*/
.right {
float: right;
border: 0px solid #656C4A;
margin: 5px 0 10px 0;
padding: 10px;
}
			/*SEARCH BAR*/
legend {
color: green;
}
input {
background: #eee;
}	