.header{
	background:#BDBDBD;
    text-align:center;
    font:400;
    font-family:Calibri;
    font-size:36px;
    font-style:normal;
}

table, th, td {
    border-style:ridge;
    border-color:gray;
    border-width:1px;
    border-collapse:collapse;
    padding:10px;
}

tr:nth-child(even) {
    background-color:#D8D8D8;
}