@using TrainingPlanner
@model List<IstezanjeTreningTemplate>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contentImg">
    <h2 class="green">Popis predlozaka</h2>
    <table class="responstableTrening">
        @if (Model.Count == 0)
        {
            <tr>
                <td class="smallFont">Trenutno nema predlozaka.</td>
            </tr>
        }

        @foreach (IstezanjeTreningTemplate itt in Model)
        {
            <form action="@Url.Action("DodajPredlozakTrening", "Home", new { id = Convert.ToInt32(ViewData["treningId"]), templateId = itt.IstezanjeTreningTemplateId, izmijeni = ViewData["izmijeni"] })" method="post">

                <tr>
                    <td class="smallFontGreen">@itt.NazivPredloska</td>
                    <td>@Html.ActionLink("Detalji", "DetaljiPredlozakIstezanja", "Home", new { id = itt.IstezanjeTreningTemplateId, treningId = Convert.ToInt32(ViewData["treningId"]), izmijeni = Convert.ToInt32(ViewData["izmijeni"])}, new { @class="button_example" })</td>
                    <td><input type="submit" value="Dodaj predlozak" class="button_example" /></td>
                </tr>
            </form>
        }
    </table>

   @((int)ViewData["izmijeni"] == 0 ? Html.ActionLink("Natrag na trening", "DodajTrening", "Home", new { id = Convert.ToInt32(ViewData["treningId"]), DodajVjezbu = 1 }, new { @class = "marginHeadlineTop marginTextBottom button_example" }) 
    : Html.ActionLink("Natrag na trening", "IzmijeniTrening", "Home", new { id = Convert.ToInt32(ViewData["treningId"]) }, new { @class = "marginHeadlineTop marginTextBottom button_example" }))
</div>
